@charset "UTF-8";

body {
    background-color: rgb(243, 243, 243);
}

h1 {
    color: green;
}

h1#principal {
    text-align: center;
    background-color: rgb(213, 191, 234);
    color: rgb(0, 0, 255);
}

h2 {
    color: rgb(109, 156, 39);
}

.basico {
    color: #3c805e;
}

.intermediario {
    color: #80793c;
}

.avançado {
    color: #803c3c;
}

.destaque {
    background-color: yellow;
}